{% extends 'base.html' %}
{% import "pagination_widget.html" as macros %}
{% block title %}APP列表
{% endblock %}
{% block main %}
<div class=" col-md-10 col-md-offset-1">
    {% for app in apps %}
    <div class="col-sm-4 col-xs-6">
        <a class="btn btn-default btn-lg btn-block" href="{{url_for('.app_detail',id=app.id)}}">{{app.name}}</a>
    </div>
    {% endfor %}
    <div class="row navbar-fixed-bottom" style="vertical-align:bottom">
        <div class="col-md-offset-5">
            {%if pagination%}
            {{macros.pagination_widget(pagination,'.app_list')}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}