<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-App评论分析平台</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">

    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <script type="application/javascript" src="../static/scripts/jquery.min.js"></script>
    <script type="application/javascript" src="../static/scripts/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{ url_for('static',filename='images/app.png') }}" alt="brand"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="/app-list">APP列表</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键字"/>
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right" id="nav">



            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="content">
    {% block main %}
    {% endblock %}
</div>
<footer class="footer"><p>作者：纪成</p><p>绍兴文理学院&nbsp&nbsp2018</p></footer>
<script>
    $(function get_login_status() {
        $.ajax({
            url: "http://127.0.0.1:5000/api/login_status",
            type:'GET',
            dataType:'JSON',
            success: function (data) {
                if (data == null) {
                    $('#nav').append('<li><a href="">注册</a></li><li><a href="/login">登录</a></li>')
                }
                else {
                    $('#nav').append('<li><a style="cursor: default">' + data['name'] + '</a></li><li><a href="/user/center">用户中心</a></li><li><a href="/user/logout">注销</a></li>')
                }
            }
        })
    })
</script>
</body>
</html>